@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font */
@font-face {
  font-family: 'Brutel';
  src: url('/fonts/Brutel-Black.otf') format('opentype');
  font-weight: 900; /* Black weight */
  font-style: normal;
}

body {
  font-family: 'Brutel', sans-serif;
}
